{{ block "contact-form" . }}
<form id="contact-form" hx-post="/contacts" hx-swap="outerHTML">
	<div class="grid grid-cols-1 gap-6">
		<div>
			<input
				type="text"
				name="name"
				aria-label="name"
				placeholder="Your Name"
				class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-700"
				required
				{{ if .Values }}
					{{ if .Values.name }}
						value="{{ .Values.name }}"
					{{ end }}
        {{ end }}
			/>
		</div>
		<div class="items-start">
			<input
				type="email"
				name="email"
				aria-label="email"
				placeholder="example@mail.com"
				class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-700"
				required
				{{ if (.Values) }}
					{{ if (.Values.email) }}
						value="{{ .Values.email }}"
					{{ end }}
        {{ end }}
			/>
		</div>
		{{ if (.Errors) }} {{ if (.Errors.email) }}
		<div class="text-red-500">{{ .Errors.email }}</div>
		{{ end }} {{ end }}
		<button
			type="submit"
			class="py-3 text-base font-medium rounded text-white bg-blue-800 w-full hover:bg-blue-700 transition duration-300"
		>
			Create Contact
		</button>
	</div>
</form>
{{ end }}

<!-- block display -->
{{ block "display" . }}
<div id="contacts" class="w-full space-y-4">
	{{ range .Contacts }} {{ template "contact" . }} {{ end }}
</div>
{{ end }}

<!-- block contact -->
{{ block "contact" . }}
<div id="contact-{{ .Id }}" class="flex items-center space-x-4">
	<div
		class="p-4 bg-white border border-gray-200 rounded-lg shadow items-center justify-center w-full"
	>
		<p>{{ .Id }}</p>
		<p>Name: {{ .Name }}</p>
		<p>Email: {{ .Email }}</p>
	</div>
	<button
		title="delete-user"
		name="delete-user"
		type="button"
		class="text-white bg-red-700 hover:bg-red-800 focus:ring-2 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2"
		hx-delete="/contacts/{{ .Id }}"
		hx-swap="outerHTML"
		hx-target="#contact-{{ .Id }}"
	>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
			class="feather feather-trash-2 size-4"
		>
			<polyline points="3 6 5 6 21 6" />
			<path
				d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
			/>
			<line x1="10" y1="11" x2="10" y2="17" />
			<line x1="14" y1="11" x2="14" y2="17" />
		</svg>
	</button>
</div>
{{ end }}

<!-- block oob-contact -->
{{ block "oob-contact" . }}
<div id="contacts" hx-swap-oob="afterbegin">{{ template "contact" . }}</div>
{{ end }}
